.img-rounded {
  border-radius: 50%;
  width: 124px;
}

.icons-socials {
  justify-content: space-between;
  max-width: 800px;
  display: flex;
  margin: 0 auto;
}

.icons-socials button {
  background: transparent;
}

.icons-socials svg {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}

.repos-list-container {
  list-style: none;
}


.icons-socials svg:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 255, 1));
}

h1 {
  margin-bottom: 60px;
}

.thumbnail-twitch {
  width: 600px;
}

@keyframes live-box-shadow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 red;
  }

  50% {
    transform: scale(1.02);
    box-shadow: 0 0 5px 2px red;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 red;
  }
}

.live-image {
  animation: live-box-shadow 1.5s infinite;
}

.card {
  position: relative;
  display: flex;
  width: 600px;
}

.card-background-color {
  background: rgb(34 39 46)
}

.card-border-radius {
  border-radius: 6px;
}

.card-box-shadow {
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, .07), 0 15px 15px rgba(0, 0, 0, .06), 0 10px 8px rgba(0, 0, 0, .05), 0 4px 4px rgba(0, 0, 0, .04), 0 2px 2px rgba(0, 0, 0, .03)
}

.card-box-shadow::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  border-radius: inherit;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
}